
module httpd_t-default_t 1.0;

require {
	type httpd_t;
	type default_t;
	class file { getattr map open };
}

#============= httpd_t ==============

#!!!! This avc can be allowed using the boolean 'domain_can_mmap_files'
allow httpd_t default_t:file map;
allow httpd_t default_t:file { getattr open };
